{{> head }} {{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About the company</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vitae ipsum nemo placeat! Placeat id quasi esse sapiente ullam dicta voluptas inventore quos tempore, aliquid iste temporibus exercitationem doloribus fugiat!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/steelers.png" alt="Pittsburg Steelers" class="img-thumbnail">
    </div>
</div>

{{> footer }} {{> end }}